.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-body{
  padding: 0 !important;
}
.card-body img{
  width: 100%;
  height: auto;
}
.main-container{
  padding: 1rem 3rem 1rem 3rem;
  width: 100%;
}

.display-movie-heading{
  text-align: center;
    color: blue;
}

.movie-description {
  min-height: 110px;
}

.movie-sub-component{
  margin-bottom: 1rem;
  width: 25%;
}

.movie-main-component{
  display: flex;
  flex-wrap: wrap;
}
.product {
  margin: 0;
  overflow: auto;
}

.product__button-wrap {
  float: right;
}

ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
  float: left;
}
.sigle-movie {
  border: 2px solid #bbc;
  border-radius: 4px;
  height: 100%;
}

.movie-image-main > img {
  width: 100%;
}

.product__price {
  color: #6c757d;
  word-break: break-all;
  line-height: 1.4;
  margin-bottom: 0;
  font-size: 14px;
}

.seat-button-main {
  width: 20%;
  margin-bottom: 1rem;
  padding-right: 10px;
}

.product_thumb{
  display: block;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  height: 100%;
}

img{
  width: 200px;
}

.product-details {
  cursor: pointer;
  padding: 0.5rem;
  min-height: 170px;
}

.product-details .btn {
  height: 44px;
  border-radius: 4px;
  margin: 0 5px;
  padding: 5px;
}

.custom-btn{
  width: 100%;
  /* height: 50px; */
  border-radius: 0 !important;
}

.seat-plan{
  width: 100%;
}

.seat-component-main {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

button.recieved-seat.btn.btn-primary {
  font-weight: 600;
  color: #000;
  background-color: #28a745;
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem #ad7;
}

.product-details-container label {
  color: #6c757d;
}

.add-movie-form-main > div {
  width: 70%;
  margin: auto;
}

.add-movie-form-main .row {
margin-bottom: 1rem;
}

.add-movie-form-main input,
.add-movie-form-main textarea {
  width: 100%;
}

.form-radio-button-main {
  margin-right: 2rem;
  display: inline-block;
}

.add-button-main{
    width: 40%;
    margin: auto;
}

.add-new-movie-table-main tbody {
  text-align: left;
}

.add-new-movie-table-main tbody tr td:last-child {
  text-align: center;
}


.show-information-details-model .modal-header {
  border: none;
}

.show-information-details-model .modal-footer {
  border: none;
}

.show-information-details-model .table thead th {
  border: none;
  background-color: #ececec;
}

.show-information-details-model .table td {
  background-color: #ececec;
  border-top: 1px solid #bbc;
}

svg.add-button-icon {
  margin-right: 0.5rem;
  vertical-align: text-top;
}

.add-new-movie-table-main tbody td button {
 margin-right: 0.5rem;
 font-size: 13px;
 padding: .3rem .75rem;
}
.form-radio-button-main > input {
  width: auto;
  margin-right: 0.5rem;
}
.section-title {
  background-color: #0672b9;
  padding: 1rem;
  margin: 2rem 0;
  border-radius: 5px;
  color: white;
  font-size: 21px;
}


.form-control {
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 0.1rem;
}

.no-validation {
  border-color: #ced4da !important;
  box-shadow: none !important;
  background-image: none !important;
}

.section-body {
  font-weight: 500;
  padding: 0 3rem;
  background-color: #fff;
}
.data-table-responsive {
  width: 100%;
  overflow: auto;
  font-size: 11px;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
